<div>
  <h1>User info</h1>
  

   <%= attachment_image_tag current_user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %>
  <p>name：<%= current_user.name %></p>
  <p>introduction：<%= current_user.introduction %></p>
    <p><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>
 </div>

<div>
<h1>New Book</h1>
<%= form_with model: @book, local:true do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
</div>

  <h1>Users</h1>
  <table class="table">
   <thead>
    <tr>
     <th>image</th>
     <th>name</th>
     <th></th>
    </tr>
   </thead>
   <% @users.each do |user| %>
   <tbody>
    <tr>
     <th><%= attachment_image_tag user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %></th>
     <th><%= user.name %></th>
     <th><%= link_to "show", user_path(user.id) %></th>
    </tr>
   </tbody>
   <% end %>
   </table>

