<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/376c0f6bb4.js" crossorigin="anonymous"></script>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><span>Bookers</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDoropdown" aria-controls="#navbarNavDoropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDoropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item active">
              <i class="fas fa-home navlink text-light"> <%= link_to 'Homes', user_path(current_user) %></i>
            </li>
            <li class="nav-item">
              <i class="fas fa-users navlink text-light"><%= link_to 'Users', users_path %></i>
            </li>
            <li class="nav-item">
              <i class="fas fa-book-open navlink text-light"><%= link_to 'Books', books_path %></i>
            </li>
            <li class="nav-item">
              <i class="fas fa-sign-out-alt navlink text-light"><%= link_to "logout", destroy_user_session_path, method: :delete %></i>
            </li>
            <% else %>
            <li class="nav-item active">
              <i class="fas fa-home navlink text-light"> <%= link_to 'Homes', root_path %></i>
            </li>
            <li class="nav-item">
              <i class="fas fa-link navlink text-light"><%= link_to 'About', home_about_path %></i>
            </li>
            <li class="nav-item">
              <i class="fas fa-user-plus navlink text-light"><%= link_to "sign up", new_user_registration_path %></i>
            </li>
            <li class="nav-item">
              <i class="fas fa-sign-in-alt navlink text-light"><%= link_to "Login", new_user_session_path %></i>
            </li>
             <% end %>
        </ul>
      </div>
    </nav>b
   </header>


    <%= yield %>
</body>

</html>
